@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>Shop</h1>

    @if (Model.HasProfile)
    {
        <p>Welcome to the shop @Model.Profile!.Name! 🎉</p>
    }
    else
    {
        <p>Welcome to the shop dear stranger! 👀</p>
    }
</div>
